body {
  background-image: url(img/tlo/inna.jpeg);
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.kolornav {
  background-color: black;
  border-radius: 50px;
}
/* .wstep {
  background-image: url(img/tlo/inna.jpeg);
  height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
} */

.tekst {
  font-size: 25px;
}

h1 {
  font-size: 36px;

  font-weight: 400;
  color: rgb(255, 255, 255);
}

.divki {
  padding: 1rem;
  border-radius: 14px;
  border: 2px solid #ff0000;
  background-image: url(img/tlo/prism.png);
  width: 155px;
  height: 100px;
  padding: 5px;
}
.divki1 {
  width: 4px;
  height: 100px;
}

.container1 {
  width: 100%;
}

.onas1 {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  border-radius: 20px;
  text-align: center;
  clear: both;
  background-color: rgb(180, 17, 96);
}

.clearfloat {
  clear: both;
}

.video-container {
  position: relative;
  padding-bottom: 40%;
  padding-top: 30px;
  height: 50%;
  overflow: hidden;
  border-radius: 20px;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.radius {
  border-radius: 110px;
}
.product {
  background-image: url(img/tlo/prism.png);
  border-radius: 14px;
  border: 2px solid #ff0000;
}
.product1 {
  background-image: url(img/tlo/prism.png);
  border-radius: 14px;
  border: 2px solid #ff0000;
  height: 370px;
}
.product2 {
  background-image: url(img/tlo/prism.png);
  border-radius: 14px;
  border: 2px solid #ff0000;
  height: 150px;
  width: 200px;
}
.kolor {
  color: rgb(221, 16, 16);
}

@media (max-width: 1199px) {
  .product1 {
    height: 290px;
  }
}
@media (max-width: 494px) {
  .product1 {
    height: 350px;
  }
}
@media (max-width: 436px) {
  .product1 {
    height: 360px;
  }
}

@media (max-width: 348px) {
  .product1 {
    height: 420px;
  }
}
