body {
  background-image: url(img/prism.png);
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin: 20px;
}

.misja2 {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}
.onas {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  border-radius: 20px;
  text-align: center;
  clear: both;
  background-color: rgb(180, 17, 96);
}

.clearfloat {
  clear: both;
}

.jumpers {
  text-align: center;
  position: relative;
}

.navbar {
  min-height: 57px;
}
.video-container {
  position: relative;
  padding-bottom: 40%;
  padding-top: 30px;
  height: 50%;
  overflow: hidden;
  border-radius: 20px;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-jumpers {
  background-image: url(img/prism.png);
  color: rgb(255, 255, 255);
}

.radius {
  border-radius: 20px;
}

.scrollup {
  width: 64px;
  height: 64px;
  text-decoration: none;
  background: url('img/up.png') no-repeat 0px 0px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: none;
}

@media (max-width: 575px) {
  .misja2,
  .p {
    padding-bottom: none;
  }
}
